# KICAD FILES
# Temporary Files
*.OOO
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
fp-info-cache
*auto_saved*
*autosave*
*.lck

# Netlist files
*.net

# Exported BOM files
*.xml
*.csv